{% extends 'main/layout.html' %}

{% block tite %}Капибара{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Полуводное травоядное млекопитающее из подсемейства водосвинковых. Латинское название животного Hydrochoerus hydrochaeris переводится как «водяная свинья».
Капибары напоминают гигантскую морскую свинку. У них бесхвостое бочкообразное тело, крупная, почти квадратная голова. Длина тела достигает 1–1,3 м, высота в холке — до 60 см, вес — от 34 до 63 кг.
Эти животные живут исключительно в Южной Америке, в тропическом и умеренном климате. Любимые места обитания капибар — берега рек, опушки болот, затопленные луга.
В природе капибары живут от 6 до 10 лет, в домашних условиях — до 12 лет.</p>
        <button class="btn btn-warning">На страницу про нас</button>
    </div>
{% endblock %}